/* external css */
/* h1{
  color:purple;
} */

*{
  /*global initial settings*/
  /* zeroing out all margins and padding*/
  margin:0;
  padding:0;
}

body{
  background-color: #f4f4f4;
  color: #555555;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;

  /* same as above */
  /* font: normal 16px Arial, Helvetica, sans-serif; */

  line-height: 1.6em;
  /*margin: 0;*/ /*chop margin on sides. Taken care in global setting*/
}

/* global setting for links */
a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: red;
}

a:active{
  color: green;
}

/* a:visited{
  color: grey;
} */

.container{
  width: 80%; /*responsive*/
  margin:auto; /*makes the div to centre align*/
}

.button{
  background-color: #333;
  color:#fff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border:none;
}

.button: hover{
  background: red;
  color: #fff;
}

.clr{
	clear:both;
}

.box-1{
  background-color: #333;
  color: #fff;

  /*border*/
  /*individual border setting*/
  border-right: 5px red solid; /*size color style*/
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;

  /* setting width of all borders*/
  border-width:3px;

  /*setting specific borders*/
  border-bottom-width: 10px;
  border-top-style: dotted;

  /*single command for all borders*/
  /*this command overrides all above commands*/
  border: 5px red solid;

  /*padding*/
  /*padding will be below the border*/

  /*padding individually*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;

  /*same as above*/
  padding: 20px;

  /*margins*/
  /*margins are spaces above the border*/

  /*individual margins*/
  margin-top:20px;

  /*overrides above*/
  margin:20px 0; /*top and bottom 20px, left and right 0*/
}

/*modifying css for elements within a class seperately*/
/*css for h1 within box-1 class*/
.box-1 h1{
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2{
  border: 3px dotted #ccc;
  padding:20px;
  margin: 20px;
}

.categories{
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2{
  text-align: center;
}

.categories ul{
  padding:0;
  padding-left: 20px;
  list-style: square;
  list-style: none;
}

.categories li{
  padding-bottom: 6px;
  border-bottom: dotted 1px #333;
  list-style-image: url('../images/check.png');
}

my-form{
  padding-left: 20px;
}

.my-form .form-group{
  padding-bottom:15px;
}

.my-form label{
  display: block; /* puts labels and text boxes in seperate lines of the block*/
}

.my-form input[type="text"], .my-form textarea{
  padding:8px;
  width: 100%;
}

.block{
	float:left;
	width:33.3%;
	border:1px solid #ccc;
	padding:10px;
	box-sizing:border-box;
}

#main-block{
	float:left;
	width:70%;
	padding:15px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background-color:#333;
	color:#fff;
	padding:15px;
	box-sizing: border-box;
}

.p-box{
	width:800px;
	height:500px;
	border:1px solid #000;
	margin-top:30px;
	position:relative; /*making the parent relative to the absolute child elements*/
	/*background-image:url('../images/bgimage.jpg');
	background-repeat: no-repeat;
	background-position:100px 200px;
	background-position:center top; */
}

.p-box h1{
	position:absolute; /*making the child element absolute w.r.t relative parent*/
	top:100px;
	left:200px;
}

.p-box h2{
	position:absolute; /*making the child element absolute w.r.t relative parent*/
	bottom:40px;
	right:100px;
}
